<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer-fragment" class="layui-footer">
    <!-- 底部固定区域 -->
    <div class="layui-row" style="font-weight: bolder; font-size: 1rem;">
        <div class="layui-col-md4 paomadeng">
            Copyright © 2021-2022 拾贰S. All rights reserved.
        </div>
        <div class="layui-col-md4 layui-col-md-offset4 paomadeng" style="width:auto;margin-left: 53%;">
            jvshiji-mall #Version 1.0.0
        </div>
    </div>
</footer>
</html>