<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">

</header>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>


    <div class="layui-body mybgcolor move aa">
        <div style="height: 100%;margin-right: 6px;background-color: #F0F0F0">
            <div>
                <table id="goods"></table>

            </div>
        </div>
    </div>

    <!-- 引入页脚footer-fragment -->

    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/admin/js/goods.js}"></script>
<script type="text/html" id="imgtmp">
    <img src="{{d.carouselUrl}}" style="width:160px;height:120px;"/>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container demoTable">
        <button onclick="addgoods()" class="layui-btn layui-btn-lg"><i class="layui-icon">&#xe624;</i> 新增商品</button>
        <button onclick="putUpGoods()" class="layui-btn layui-btn-lg"><i class="layui-icon">&#xe640;</i> 上架</button>
        <button onclick="putDownGoods()" class="layui-btn layui-btn-lg layui-bg-red"><i class="layui-icon">&#xe640;</i> 下架</button>
    </div>
</script>
<style type="text/css">
    .layui-table-cell {
        text-align: center;
        height: auto;
        white-space: normal;
    }

    .layui-table img {
        max-width: 300px;
    }

    .layui-table-view {
        margin: 0;
    }
    .layui-table td, .layui-table th {
        font-size: 18px;
    }

</style>

</body>
</html>