<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Edge 模式通知 Windows Internet Explorer 以最高级别的可用模式显示内容-->
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jvshiji-mall | 后台管理系统</title>
    <!--iewport标记，用于指定用户是否可以缩放Web页面，并对相关的选项进行设定。
    device-width即表示，视区宽度应为设备的屏幕宽度。类似的，device-height即表示设备的屏幕高度。
    initial-scale用于设置Web页面的初始缩放比例。通常情况下，设备会在浏览器中呈现出整个Web页面。设为1.0则显示未经缩放的Web页面。
    maximum-scale和minimum-scale用于设置用户对于Web页面缩放比例的限制。值的范围为0.25~10.0之间
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/admin/css/login.css}"/>
    <!--layui的css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="login fontcolor gradient">
    <h2 style="color: #03e9f4">聚食集——商城 | 后台登录</h2>
    <form th:action="@{/admin/login}" method="post" id="loginForm">
        <div class="login_box">
            <!-- required就是不能为空 必须在css效果中有很大的作用 -->
            <!-- 可以简写为required -->
            <input value="admin" id="userName" name="userName" type="text" required autocomplete="off"/><label style="color: #03e9f4">用户名</label>
        </div>
        <div class="login_box">
            <input value="111111" id="password" name="password" type="password" required="required" autocomplete="off"/><label
                style="color: #03e9f4">密码</label>
        </div>
        <div class="login_box">
            <input id="verifyCode" name="verifyCode" type="text" required="required" autocomplete="off"/><label
                style="color: #03e9f4">验证码</label>
        </div>
        <div class="login_box" style="margin-bottom: 30px;">
            <img id="captcha" class="login_box" th:src="@{/captcha}" width="130px" height="48px"
                 onclick="this.src='/captcha?d='+new Date()*1"/>
        </div>
    </form>
    <a onclick="login()">
        登录
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<script th:src="@{/plugins/jquery/jquery.js}"></script>
<script src="/layui/layui.all.js"></script>
<script src="/layui/layui.js"></script>
<script src="/admin/js/login.js"></script>
<script>
    function login() {
        var username = $('#userName').val();
        var password = $('#password').val();
        var verifyCode = $('#verifyCode').val();
        if (thisisNull(verifyCode)) {
            layer.tips('请输入验证码', '#verifyCode', {
                tips: [2, 'red'],
                time: 700
            });
            return false;
        }
        if (thisisNull(username)) {
            layer.tips('请输入用户名', '#userName', {
                tips: [2, 'red']
            });
            return false;
        }
        if (thisisNull(password)) {
            layer.tips('请输入密码', '#password', {
                tips: [2, 'red']
            });
            return false;
        }
        var msg = {
            "username": username,
            "password": password,
            "verifyCode": verifyCode
        }
        console.log(msg)
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.ajax({
            type: "POST",
            url: "/admin/login",
            contentType: "application/json",
            data: JSON.stringify(msg),
            success: function (res) {
                layer.closeAll();
                console.log(res)
                if (res.code == '0') {
                    console.log(res)
                    $("#captcha").click();
                    window.location.href = res.msg
                    return null;
                } else {
                    $("#captcha").click();
                    layer.msg(res.msg, {
                        anim: 6,
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    });
                }

            }
        });


    }

    /**
     * 判空
     */
    function thisisNull(obj) {
        if (obj == null || obj == undefined || obj.trim() == "") {
            return true;
        }
        return false;
    }

</script>
</body>
</html>