<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="">在线咨询</a>
                </dd>
            </dl>
            ...省略部分代码
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a th:href="@{/jvshijimall/index}">聚食集商城</a>
                <a th:href="@{/admin/index}">后台管理系统</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="" target="_blank">聚食集商城 &nbsp; | &nbsp;
                    Powered by 拾贰&nbsp;
                    | &nbsp;</a>
                    &nbsp;QQ号：1173919359
                </p>
            </div>
        </div>

    </div>
</div>
</html>